@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    padding: 20px 40px;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}